# Dependencies
node_modules/
/.pnp
.pnp.*
jspm_packages/
bower_components/
web_modules/

# Package Managers
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.yarn-integrity
.npm

# Environment Variables
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Outputs
/.next/
/out/
/build
dist/
.cache/
.parcel-cache/
build/Release/

# Logs and Debug
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Testing and Coverage
/coverage
*.lcov
.nyc_output
lib-cov/
.vscode-test/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS and Editor Files
.DS_Store
*.pem
.vercel
.lock-wscript
.tern-port

# Cache Directories
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.eslintcache
.stylelintcache
.temp/

# Runtime Data
pids/
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Other Build Tools
.serverless/
.fusebox/
.dynamodb/
.grunt/