# Dependencies
node_modules/
/.pnp
.pnp.*

# Package Managers
.npm
yarn-error.log
yarn.lock

# Environment Variables
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build and Output
/.next/
/out/
/build
dist/
.cache/
.sanity/

# Logs
logs/
*.log
npm-debug.log*

# Testing
/coverage
.vscode-test/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS and Editor
.DS_Store
*.pem
.vercel
.eslintcache

# Runtime Data
*.pid
*.seed